return {
  {
    "David-Kunz/gen.nvim",
    cmd = "Gen",
    config = function()
      require("gen").setup({
        model = "google/gemma-4-e4b",
        host = "{{ trimSuffix "/v1" (trimPrefix "https://" .llm.url) }}",
        port = 443,
        quit_map = "q",
        retry_map = "<c-r>",
        command = function(options)
          local body = { model = options.model, stream = true }
          local cmd = "curl --silent --no-buffer -X POST https://"
            .. options.host
            .. ":"
            .. options.port

          cmd = cmd .. "/v1/chat/completions"
          cmd = cmd .. ' -H "Content-Type: application/json"'

          return cmd .. " -d $body"
        end,
        init = function(options) end,
        display_mode = "vertical-split",
        show_prompt = true,
        show_model = true,
        no_auto_close = false,
        debug = false,
      })
    end,
  },

  {
    "olimorris/codecompanion.nvim",
    dependencies = {
      "nvim-lua/plenary.nvim",
      "nvim-treesitter/nvim-treesitter",
    },
    opts = {
      interactions = {
        chat = {
          adapter = {
            name = "opencode",
            model = "xolotl/qwen/qwen3-coder-30b",
          },
        },
      },
      opts = {
        log_level = "DEBUG",
      },
    },
  },
}
